<!DOCTYPE html>
<html>
    <head>
        <title>Mitja's Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Mitja's Blog</a></h1>
        </header>

        <article>
            <time>published: 9.11.2020, 12:14</time>
            <h2><a href="">Mein erster Post</a></h2>
            <p>Test 123 Das ist der erste Test der Website.</p>
        </article>

        <article>
            <time>published: 11.9.2021, 12:14</time>
            <h2><a href="">Mein zweiter Post</a></h2>
            <p>Hallo das ist mein zweiter Post und es hat alles geklappt mit der Website! :).</p>
        </article>
    </body>
</html>